<div>
    <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search" #filter (input)="filterResults(filter.value)">
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint>Type a part of the name or attribute</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Level</mat-label>
        <input matInput placeholder="Level" type="number" #level (input)="filterLevel(level.value)">
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint>Select the max level</mat-hint>
    </mat-form-field>
</div>

<div>
    <button
        mat-mini-fab
        title="Table visualization"
        (click)="changeMode('table')"
    >
        <mat-icon>view_list</mat-icon>
    </button>
    <button
        mat-mini-fab
        title="Cards visualization"
        (click)="changeMode('cards')"
    >
        <mat-icon>grid_view</mat-icon>
    </button>
</div>

@if (visualization_mode == 'table') {
    <table class="table is-narrow is-hoverable frame">
        <tr>
            <th>Name</th>
            <th>Runes</th>
            <th>Level</th>
            <th>Items</th>
            <th>Attributes</th>
        </tr>
    @for (runeword of filtered_runewords; track $index) {
        <tr>
            <td>
                <ul>
                    <li>
                        {{ runeword.name }}
                    </li>
                    <li>
                        {{ runeword.english }}
                    </li>
                </ul>
            </td>
            <td class="runes">
                <ul>
                @for (rune of runeword.runes; track $index) {
                    <li>{{ rune }}</li>
                }
                </ul>
            </td>
            <td class="level">
                {{runeword.level}}
            </td>
            <td>
                <ul>
                @for (attribute of runeword.type; track $index) {
                    <li>{{ attribute }}</li>
                }
                </ul>
            </td>
            <td>
                <ul>
                @for (attribute of runeword.stats; track $index) {
                    <li>{{ attribute }}</li>
                }
                </ul>
            </td>
        </tr>
    }
    </table>
}

@if (visualization_mode == 'cards') {
    <div class="card-container">
        @for (runeword of filtered_runewords; track $index) {
            <mat-card class="card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>{{ runeword.name }}</mat-card-title>
                        <mat-card-subtitle>{{ runeword.english }}</mat-card-subtitle>
                        @for (rune of runeword.runes; track $index) {
                            {{ rune }}
                        }
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    level: {{runeword.level}}
                    <ul>
                    @for (attribute of runeword.type; track $index) {
                        <li>{{ attribute }}</li>
                    }
                    </ul>
                    <ul>
                    @for (attribute of runeword.stats; track $index) {
                        <li>{{ attribute }}</li>
                    }
                    </ul>
                </mat-card-content>
            </mat-card>
        }
    </div>
}
